body {
    background-color: #1A1D53;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 17vh;
    box-sizing: border-box;
    background-color: #000A07;
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    background-color: #1A1D53;
    width: 16vw;
    height: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
   text-decoration: underline;
}

/* Styling of the Main Content starts Here */
main {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form,
.signup-form {
    margin-top: 15vh;
    background: white;
    box-sizing: border-box;
    color: #000A07;
    width: 26vw;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.login-form h2,
.signup-form h2 {
    text-align: center;
}

.login-form input,
.signup-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(128, 128, 128, 0.78);
    border-radius: 5px;
    font-size: 15px;
}

.login-form button,
.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #000A07;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.login-form button:hover,
.signup-form button:hover {
    background-color: #061C69;
}

.login-form a,
.signup-form a {
    text-decoration: none;
}

/* Styling of the Index Page starts here */
.expense-form,
.expense-list,
.category-form,
.category-list {
    margin-top: 10vh;
    background: white;
    box-sizing: border-box;
    color: #000A07;
    min-width: 40vw;
    max-width: 85vw;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.expense-list,
.category-list {
    margin-top: 4vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.expense-form h2,
.expense-list h2,
.category-form h2,
.category-list h2 {
    text-align: center;
    margin-top: 0;
}

.expense-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(128, 128, 128, 0.78);
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.expense-input {
    display: flex;
    justify-content: space-between;
}

.expense-input input {
    width: 48%;
}

.expense-form-buttons {
    display: flex;
    justify-content: space-between;
}

.expense-form-buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000A07;
    color: white;
    font-size: 2vh;
}

.expense-form-buttons button:hover {
    background-color: #061C69;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.78);
    text-align: left;
    word-wrap: break-word;
}

.category-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

#category-name {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(128, 128, 128, 0.78);
    border-radius: 5px;
}

.category-input button,
#category-color-input {
    margin-left: 15px;
    height: 1.8em;
    border: 2px solid rgba(128, 128, 128, 0.78);
    border-radius: 5px;
    cursor: pointer;
}

.category-input button {
    width: 10%;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

#generate-random-color i::before {
    content: "Get a new color";
    opacity: 0;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transition: opacity 0.3s;
    visibility: hidden;
}

#generate-random-color:hover i::before {
    opacity: 1;
    visibility: visible;
}

#category-color-input {
    font-size: 18px;
    width: 16%;
    padding-left: 5px;
}

#category-list {
    display: flex;
    flex-wrap: wrap;
    width: 76vw;
}

.category-box {
    background-color: #ccc;
    padding: 2.5vh;
    width: 15vw;
    height: 12vh;
    margin-right: 2.5vh;
    margin-bottom: 2.5vh;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
}

.category-box h3 {
    margin: 1vh 0 0 0;
    font-size: 2.5vh;
    color: rgba(0, 0, 0, 0.75);
}